Repository jsloan117/docker-openvpn-client, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci/cd, documentation, formatters/linters

.github/labeler.yml:

---
# https://github.com/marketplace/actions/labeler

build:
  - '**/*.sh'
  - Dockerfile*
  - docker-compose.yml
  - .dockerignore

ci/cd:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/mergify.yml

documentation:
  - README.md
  - mkdocs.yml
  - docs/*

formatters/linters:
  - .editorconfig
  - .hadolint.yaml
  - .yamllint.yml
  - .prettierignore
  - .prettierrc.yml

testing mergify
  .github/.kodiak.toml
  .github/dependabot.yml
Labels: ci/cd

fix(custom-provider): prevent fetch-external-configs.sh from executing when using custom provider
  .github/mergify.yml
  docker-compose.yml
  openvpn.env
  scripts/setup.sh
Labels: build, ci/cd

fix(custom-provider): prevent fetch-external-configs.sh from executing when using custom provider (#50)
  .github/mergify.yml
  docker-compose.yml
  openvpn.env
  scripts/setup.sh
Labels: build, ci/cd

fix(custom-provider): prevent fetch-external-configs.sh from executing when using custom provider (#53)
  .github/mergify.yml
  docker-compose.yml
  openvpn.env
  scripts/setup.sh
Labels: build, ci/cd

use new pages deployments and try to restrict perms
  .github/workflows/cleanup.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
Labels: ci/cd

update pipeline name
  .github/workflows/docs.yml
Labels: ci/cd

add workflow_dispatch
  .github/workflows/docs.yml
Labels: ci/cd

trying to get this to trigger
  .github/workflows/docs.yml
Labels: ci/cd

remove extra line
  .github/workflows/docs.yml
Labels: ci/cd

try on dev branch
  .github/workflows/docs.yml
Labels: ci/cd

Update deployment method (#92)
  .github/workflows/cleanup.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
Labels: ci/cd

remove old branch name from docs.yml
  .github/workflows/docs.yml
Labels: ci/cd

trying to gh to detect the new workflow file
  .github/workflows/devimages.yml
  .github/workflows/docs.yml
  .github/workflows/mkdocs.yml
Labels: ci/cd

update syntax error in mkdocs.yml
  .github/workflows/mkdocs.yml
Labels: ci/cd

restrict perms
  .github/workflows/mkdocs.yml
Labels: ci/cd

remove deprecated acs-report-enable flag for anchore/scan-action action
  .github/workflows/devimages.yml
  .github/workflows/images.yml
  .github/workflows/pull_requests.yml
Labels: ci/cd

add dnsleaktest scripts
  scripts/dnsleaktest-alt.py
  scripts/dnsleaktest.py
  scripts/dnsleaktest.sh
Labels: build

removing flag-essential file, it was causing a hard SIGTERM to occur
  etc/s6-overlay/s6-rc.d/openvpn/flag-essential
Labels: none

add donotuse.sh mostly for documenting my attempt
  .github/workflows/mkdocs.yml
  scripts/donotuse.sh
Labels: build, ci/cd

add killswitch.sh
  scripts/donotuse.sh
  scripts/killswitch.sh
Labels: build

get ready to test out wireguard and try to further restrict workflow perms
  .github/workflows/devimages.yml
  Dockerfile
Labels: build, ci/cd

add some perms
  .github/workflows/devimages.yml
Labels: ci/cd

update more perms
  .github/workflows/devimages.yml
Labels: ci/cd

add a few links and perm cleanup
  .github/workflows/devimages.yml
Labels: ci/cd

no perms on prs
  .github/workflows/pull_requests.yml
Labels: ci/cd

clean up
  .github/workflows/cleanup.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/images.yml
  .github/workflows/labeler.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pull_requests.yml
  .github/workflows/tag-release.yml
Labels: ci/cd

add ubuntu img and get ready for testing of wireguard
  Dockerfile.ubuntu
  etc/s6-overlay/s6-rc.d/setup-openvpn/up
  etc/s6-overlay/s6-rc.d/wireguard/down
  etc/s6-overlay/s6-rc.d/wireguard/type
  etc/s6-overlay/s6-rc.d/wireguard/up
  scripts/healthcheck.sh
  scripts/killswitch.sh
Labels: build

updates to try and get openvpn & wireguard to play nicely
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/setup-openvpn/run
  etc/s6-overlay/s6-rc.d/setup-openvpn/up
  etc/s6-overlay/s6-rc.d/user/contents.d/wireguard
  etc/s6-overlay/s6-rc.d/wireguard/down
  etc/s6-overlay/s6-rc.d/wireguard/run
  etc/s6-overlay/s6-rc.d/wireguard/up
Labels: none

more changes
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/setup-openvpn/run
Labels: none

clean up services
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/setup-openvpn/run
Labels: none

add nslookup
  Dockerfile.ubuntu
Labels: build

update scripts from docker-transmission-openvpn repo
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/setup-openvpn/run
  openvpn/fetch-external-configs.sh
  openvpn/ipvanish/configure-openvpn.sh
  openvpn/nordvpn/configure-openvpn.sh
  openvpn/nordvpn/updateConfigs.sh
  openvpn/pia/configure-openvpn.sh
  openvpn/pia/update-port.sh
  openvpn/utils.sh
  openvpn/vyprvpn/configure-openvpn.sh
  scripts/killswitch.sh
  scripts/setup.sh
Labels: build

add back in update-port.sh for pia. replace ip route add w/ ip route replace to help prevent RTNETLINK file exists errors
  openvpn/pia/update-port.sh
  scripts/setup.sh
Labels: build

add execute to update-port.sh
  openvpn/pia/update-port.sh
Labels: build

try and fix dns leaking issues
  etc/s6-overlay/s6-rc.d/openvpn/run
Labels: none

trying to fix dns leask
  etc/s6-overlay/s6-rc.d/openvpn/run
Labels: none

trying to fix dns leask
  etc/s6-overlay/s6-rc.d/openvpn/run
Labels: none

trying to fix dns leask
  etc/s6-overlay/s6-rc.d/openvpn/run
Labels: none

try and reduce the amount of time before we change our DNS servers to help prevent leaks
  Dockerfile.ubuntu
  etc/s6-overlay/s6-rc.d/openvpn/run
Labels: build

prevent sed errors when mounting ovpn directly, due to disk busy same inode errors
  scripts/setup.sh
Labels: build
