Repository jsloan117/docker-openvpn-client, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci/cd, documentation, formatters/linters

.github/labeler.yml:

---
# https://github.com/marketplace/actions/labeler

build:
  - '**/*.sh'
  - Dockerfile*
  - docker-compose.yml
  - .dockerignore

ci/cd:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/mergify.yml

documentation:
  - README.md
  - mkdocs.yml
  - docs/*

formatters/linters:
  - .editorconfig
  - .hadolint.yaml
  - .yamllint.yml
  - .prettierignore
  - .prettierrc.yml

add in modify-openvpn-config.sh, test-vpnargs and further testing of killswitch
  Dockerfile.ubuntu
  etc/s6-overlay/s6-rc.d/openvpn/run
  openvpn/modify-openvpn-config.sh
  scripts/dnsleaktest-alt.py
  scripts/healthcheck.sh
  scripts/killswitch.sh
  scripts/setup.sh
  scripts/test_vpnargs.sh
Labels: build

update killswitch.sh
  scripts/killswitch.sh
Labels: build

update to call ufw.sh after openvpn runs
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/setup-openvpn/up
  etc/s6-overlay/s6-rc.d/wireguard/down
  etc/s6-overlay/s6-rc.d/wireguard/run
  etc/s6-overlay/s6-rc.d/wireguard/up
  scripts/setup.sh
  scripts/ufw.sh
Labels: build

update perms on ufw.sh
  scripts/ufw.sh
Labels: build

try using oneshot service
  etc/s6-overlay/s6-rc.d/openvpn/type
  etc/s6-overlay/s6-rc.d/openvpn/up
Labels: none

revert openvpn to be a longrun service and try adding ufw service. trying to get ufw to execute after openvpn/wireguard properly
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/openvpn/type
  etc/s6-overlay/s6-rc.d/openvpn/up
  etc/s6-overlay/s6-rc.d/ufw/dependencies.d/openvpn
  etc/s6-overlay/s6-rc.d/ufw/run
  etc/s6-overlay/s6-rc.d/ufw/type
  etc/s6-overlay/s6-rc.d/ufw/up
  etc/s6-overlay/s6-rc.d/user/contents.d/ufw
Labels: none

add verbosity to ufw
  scripts/ufw.sh
Labels: build

add sort to remotes array
  scripts/ufw.sh
Labels: build

sort by version
  scripts/ufw.sh
Labels: build

move to ubuntu 22.04 from alpine, add UFW 'kill switch', add wireguard support
  Dockerfile
  Dockerfile.ubuntu
  README.md
  docker-compose.yml
  docker-stack.yml
  docs/configuration.md
  docs/index.md
  docs/run-image.md
  docs/signing-security.md
  docs/supported-providers.md
  etc/s6-overlay/s6-rc.d/openvpn/run
  etc/s6-overlay/s6-rc.d/ufw/dependencies.d/openvpn
  etc/s6-overlay/s6-rc.d/ufw/run
  etc/s6-overlay/s6-rc.d/ufw/type
  etc/s6-overlay/s6-rc.d/ufw/up
  etc/s6-overlay/s6-rc.d/user/contents.d/ufw
  openvpn.env
  scripts/donotuse.sh
  scripts/healthcheck.sh
  scripts/killswitch.sh
  scripts/setup.sh
  scripts/test_vpnargs.sh
  scripts/ufw.sh
Labels: build, documentation

add ufw support for synology (ufw hack), minor doc updates
  .github/workflows/mkdocs.yml
  docs/index.md
  docs/run-image.md
  scripts/setup.sh
Labels: build, ci/cd, documentation

use s6_stage2_hook to configure services dynamically
  Dockerfile
  etc/s6-overlay/s6-rc.d/init-info/dependencies.d/base
  etc/s6-overlay/s6-rc.d/init-info/run
  etc/s6-overlay/s6-rc.d/init-info/type
  etc/s6-overlay/s6-rc.d/init-info/up
  etc/s6-overlay/s6-rc.d/setup-openvpn/up
  scripts/init.sh
  scripts/setup.sh
  services/init-openvpn/dependencies.d/init-info
  services/init-openvpn/run
  services/init-openvpn/type
  services/init-openvpn/up
  services/openvpn/dependencies.d/init-openvpn
  services/openvpn/run
  services/openvpn/type
  services/user/contents.d/openvpn
  services/user/contents.d/wireguard
  services/wireguard/dependencies.d/init-info
  services/wireguard/down
  services/wireguard/run
  services/wireguard/type
  services/wireguard/up
Labels: build

make scripts executable
  etc/s6-overlay/s6-rc.d/init-info/run
  scripts/init.sh
  services/init-openvpn/run
  services/openvpn/run
  services/wireguard/run
Labels: build

actually fix path to init.sh adn attempt to actually build multiarch image with correct s6_overlay binaries
  Dockerfile
Labels: build

add s6 symlinks rename init-info service to git-info
  .hadolint.yaml
  Dockerfile
  etc/s6-overlay/s6-rc.d/git-info/dependencies.d/base
  etc/s6-overlay/s6-rc.d/git-info/run
  etc/s6-overlay/s6-rc.d/git-info/type
  etc/s6-overlay/s6-rc.d/git-info/up
  etc/s6-overlay/s6-rc.d/init-info/up
  scripts/healthcheck.sh
  services/init-openvpn/dependencies.d/git-info
  services/init-openvpn/dependencies.d/init-info
  services/wireguard/dependencies.d/git-info
  services/wireguard/dependencies.d/init-info
Labels: build, formatters/linters

fix exec perm on run script
  etc/s6-overlay/s6-rc.d/git-info/run
Labels: none

documentation updates
  Dockerfile
  README.md
  docker-compose-wg.yml
  docs/configuration.md
  docs/index.md
  docs/run-image copy.md
  docs/run-image.md
  docs/s6-overlay.md
  docs/signing-security.md
  docs/supported-providers.md
  docs/wireguard.md
  mkdocs.yml
  openvpn.env
  scripts/init.sh
  services/svc-openvpn/run
  services/user/contents.d/openvpn
  services/user/contents.d/svc-openvpn
  services/user/contents.d/svc-wireguard
  services/user/contents.d/wireguard
  wireguard.env
Labels: build, documentation

update signing logic for cosign@v2
  .github/workflows/devimages.yml
Labels: ci/cd

make sure we're signing both images docker/github registry
  .github/workflows/devimages.yml
Labels: ci/cd

fix typo and fix uploading pub key
  .github/workflows/devimages.yml
Labels: ci/cd

dedupe labels and make changes from devimages to images.yml
  .github/workflows/devimages.yml
  .github/workflows/images.yml
  Dockerfile
Labels: build, ci/cd

add all labels via build stage
  .github/workflows/devimages.yml
  .github/workflows/images.yml
  Dockerfile
Labels: build, ci/cd

try to add multi-arch description
  .github/workflows/devimages.yml
  .github/workflows/images.yml
Labels: ci/cd

attempt to fix error related to attempt to add description on multi-arch builds
  .github/workflows/devimages.yml
  .github/workflows/images.yml
Labels: ci/cd

another attempt at fix
  .github/workflows/devimages.yml
  .github/workflows/images.yml
Labels: ci/cd

undo attempt
  .github/workflows/devimages.yml
  .github/workflows/images.yml
Labels: ci/cd

fix perm on mkdoc pl and when building calver img tag
  .github/workflows/images.yml
  .github/workflows/mkdocs.yml
Labels: ci/cd

no longer publish to gh-pages branch
  .github/workflows/mkdocs.yml
Labels: ci/cd

update mkdocs.yml
  .github/workflows/docs.yml
  .github/workflows/mkdocs.yml
Labels: ci/cd

attempt to split out ufw as its own service
  etc/s6-overlay/s6-rc.d/user/contents.d/git-info
  scripts/init.sh
  scripts/setup.sh
  services/svc-openvpn/dependencies.d/svc-ufw
  services/svc-ufw/dependencies.d/init-openvpn
  services/svc-ufw/run
  services/svc-ufw/type
  services/svc-ufw/up
  services/user/contents.d/init-openvpn
  services/user/contents.d/svc-ufw
Labels: build

fix typo
  scripts/init.sh
Labels: build

try to get openvpn to correctly report its been started
  services/svc-openvpn/notification-fd
  services/svc-openvpn/run
Labels: none

wait 10 seconds to check if openvpn is up, readd VERSION & REVISION into Dockerfile..
  .github/workflows/devimages.yml
  .github/workflows/images.yml
  Dockerfile
  services/svc-openvpn/run
Labels: build, ci/cd

dont sent ping output to dev null
  services/svc-openvpn/run
Labels: none

continuing to try refine the check that lets s6 know when openvpn is actually usable
  scripts/healthcheck.sh
  services/svc-openvpn/data/check
  services/svc-openvpn/run
Labels: build

add execution perms on data check
  services/svc-openvpn/data/check
Labels: none

more update to detemine if openvpn is usable or not
  services/svc-openvpn/run
Labels: none

minor changes
  .github/workflows/images.yml
  .shellcheckrc
  Dockerfile
  services/svc-openvpn/run
Labels: build, ci/cd

more minor changes
  .github/workflows/devimages.yml
  openvpn/fetch-external-configs.sh
Labels: build, ci/cd

bump workflow task versions, attempt to dynamically use or not use ufw as a service
  .github/workflows/devimages.yml
  .github/workflows/images.yml
  .github/workflows/pull_requests.yml
  scripts/init.sh
Labels: build, ci/cd
