Repository jsloan117/docker-openvpn-client, changes with the labels that .github/labeler.yml gives for each.
All labels: build, ci/cd, documentation, formatters/linters

.github/labeler.yml:

---
# https://github.com/marketplace/actions/labeler

build:
  - '**/*.sh'
  - Dockerfile*
  - docker-compose.yml
  - .dockerignore

ci/cd:
  - .github/workflows/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/mergify.yml

documentation:
  - README.md
  - mkdocs.yml
  - docs/*

formatters/linters:
  - .editorconfig
  - .hadolint.yaml
  - .yamllint.yml
  - .prettierignore
  - .prettierrc.yml

adjust init.sh
  scripts/init.sh
Labels: build

adjust init.sh x2
  scripts/init.sh
Labels: build

adjust init.sh x3
  scripts/init.sh
Labels: build

revert most changes regarding ufw - will deal with it later
  scripts/init.sh
  scripts/setup.sh
  services/svc-openvpn/dependencies.d/init-openvpn
  services/svc-openvpn/dependencies.d/svc-ufw
  services/svc-ufw/dependencies.d/init-openvpn
  services/svc-ufw/run
  services/svc-ufw/type
  services/svc-ufw/up
  services/user/contents.d/svc-ufw
Labels: build

minor updates to syntax
  .github/workflows/cleanup.yml
  .github/workflows/devimages.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/images.yml
  .github/workflows/labeler.yml
  .github/workflows/pull_requests.yml
  .github/workflows/tag-release.yml
Labels: ci/cd

merge ufw into dev (#158)
  .github/workflows/cleanup.yml
  .github/workflows/devimages.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/images.yml
  .github/workflows/labeler.yml
  .github/workflows/mkdocs.yml
  .github/workflows/pull_requests.yml
  .github/workflows/tag-release.yml
  .shellcheckrc
  Dockerfile
  etc/s6-overlay/s6-rc.d/user/contents.d/git-info
  openvpn/fetch-external-configs.sh
  scripts/healthcheck.sh
  scripts/init.sh
  scripts/setup.sh
  services/svc-openvpn/data/check
  services/svc-openvpn/notification-fd
  services/svc-openvpn/run
  services/svc-wireguard/type
  services/user/contents.d/init-openvpn
Labels: build, ci/cd

add missing id: build, and remove id: buildx
  .github/workflows/devimages.yml
  .github/workflows/images.yml
Labels: ci/cd

remove git-info and move 'base' to init-openvpn service, update workflows
  .github/workflows/devimages.yml
  .github/workflows/images.yml
  .github/workflows/mkdocs.yml
  .shellcheckrc
  Dockerfile
  etc/s6-overlay/s6-rc.d/git-info/dependencies.d/base
  etc/s6-overlay/s6-rc.d/git-info/run
  etc/s6-overlay/s6-rc.d/git-info/type
  etc/s6-overlay/s6-rc.d/git-info/up
  etc/s6-overlay/s6-rc.d/user/contents.d/git-info
  openvpn/fetch-external-configs.sh
  openvpn/modify-openvpn-config.sh
  openvpn/nordvpn/configure-openvpn.sh
  openvpn/pia/update-port.sh
  scripts/setup.sh
  services/init-openvpn/dependencies.d/base
  services/init-openvpn/dependencies.d/git-info
Labels: build, ci/cd

update permissions on workflow for dependency submission api
  .github/workflows/devimages.yml
  .github/workflows/images.yml
Labels: ci/cd

update deps for svc-wireguard, update data-ciphers check not to readd if it already exists
  openvpn/modify-openvpn-config.sh
  services/svc-wireguard/dependencies.d/base
  services/svc-wireguard/dependencies.d/git-info
Labels: build

update devimages.yml
  .github/workflows/devimages.yml
Labels: ci/cd

update devimages.yml to fix syntax error
  .github/workflows/devimages.yml
Labels: ci/cd

update Dockerfile to adjust PATH to include /command dir, and make sure DEBIAN_FRONTEND and DEBCONF_NONINTERACTIVE_SEEN dont persist in the final image
  .github/workflows/mkdocs.yml
  Dockerfile
Labels: build, ci/cd

minor cleanup and shellcheck fixes
  .shellcheckrc
  Dockerfile
  openvpn/fetch-external-configs.sh
  openvpn/ipvanish/configure-openvpn.sh
  openvpn/modify-openvpn-config.sh
  openvpn/pia/configure-openvpn.sh
  openvpn/vyprvpn/configure-openvpn.sh
  scripts/healthcheck.sh
  scripts/init.sh
  scripts/setup.sh
  services/svc-openvpn/run
Labels: build

change number of tries back to 120, so we try for a total of 2 minutes after the initial sleep of 3 seconds
  openvpn/modify-openvpn-config.sh
  services/svc-openvpn/run
Labels: build

move comment inline for image ymls
  .github/workflows/devimages.yml
Labels: ci/cd

rename mkdocs.yml name back to mkdocs from docs
  .github/workflows/images.yml
  .github/workflows/mkdocs.yml
Labels: ci/cd

add missing '-' in setup.sh
  scripts/setup.sh
Labels: build

minor code cleanup, add 'UFW_DISABLE_IPTABLES_REJECT=false' to dockerfile
  Dockerfile
  docker-compose.yml
  openvpn.env
  openvpn/modify-openvpn-config.sh
Labels: build

move doc links in run up
  services/svc-openvpn/run
Labels: none

remove useless echo
  scripts/setup.sh
Labels: build

fix docs
  .github/workflows/mkdocs.yml
  mkdocs.yml
Labels: ci/cd, documentation
